<%#= form_tag({:action => 'contact_us', :controller => "dashboards"}, :id => "contact",:multipart => true,:remote => true ) do %>
<%= form_tag contact_us_home_path, :method => :post, :id => "contact",:multipart => true,:remote => true do %>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
<% if params[:name_error] %>
<span style="color:red; font-size: 11px;"><%= params[:name_error] %></span>
<% end %>
<%= text_field_tag :name, params[:name],:class => "form-control",:placeholder => "Name"%>
<% if params[:email_error] %>
<span style="color:red; font-size: 11px;"><%= params[:email_error] %></span>
<% end %>
<%= text_field_tag :email, params[:email],:class => "form-control",:placeholder => "Email" %>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
<% if params[:subject_error] %>
<span style="color:red; font-size: 11px;"><%= params[:subject_error] %></span>
<% end %>
<%= text_field_tag :subject, params[:subject],:class => "form-control",:placeholder => "Subject" %>
<%= file_field_tag :file,:id => "exampleInputFile" %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
</div>
<div class="clearfix"></div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<% if params[:message_error] %>
<span style="color:red; font-size: 11px;"><%= params[:message_error] %></span>
<% end %>
<%= text_area_tag :message, params[:message],:class => "form-control",:placeholder => "Your Message ...",:id => "comments",:rows => 6 %>
</div>

<div class="pull-right">
<%= submit_tag "SEND",id: "submit", class: "btn btn-primary small" %>
</div>
</div>
<% end %>